<%- include("partials/header") %>
<div class="ui container segment">
  <div class="ui internally celled grid">
    <div class="row">
      <div class="two wide column fixed">
        <div class="header">
          <a class="header" href="/khojo/subjects">Subjects</a>
        </div>
        <div class="ui link list">
          <div class="active item">All Subjects</div>
          <a class="item">Analog and Digital Electronics</a>
          <a class="item">Data Structures</a>
          <a class="item">Object Oriented Programming</a>
        </div>
      </div>
      <div class="twelve wide column">
        <div class="ui fluid input">
          <a class="ui fluid yellow basic button" href="">Ask A Question</a>
        </div>
        <div class="ui top attached segment">
          <div class="ui divided items">
            <% questions.forEach(function(question){ %>
            <div class="item">
              <div class="header">
                <h2><%= question.author %></h2>
                <div class="meta">
                <h2><i class="thumbs up icon"></i><%= question.upVotes %></h2>
              </div>
              <div class="meta">
                <h2><i class="thumbs down icon"></i><%= question.downVotes %></i></h2>
              </div>
              </div>
              
              <div class="content">
                <a class="header" href="/khojo/<%= question.id %>"
                  ><%= question.question %></a
                >
                <div class="meta">
                  <span><%= question.created.toDateString() %></span>
                </div>
                <div class="description">
                  <p><%- question.description.substring(0, 100) %>...</p>
                </div>
                <div class="extra">
                  <a
                    class="ui violet small basic button"
                    href="/khojo/<%= question._id %>"
                    >Read More <i class="right chevron icon"></i
                  ></a>
                </div>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
      <div class="two wide column">
        <div class="header">
          <a class="header" href="/khojo/teachers">Teachers</a>
        </div>
        <div class="ui link list">
          <div class="active item">Most Active Teachers</div>
          <a class="item">Elon Musk</a>
          <a class="item">Sundar Pichai</a>
          <a class="item">Bill Gates</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
